:root {
    --dark: #12372A;
    --primary: #436850;
    --secondary: #ADBC9F;
    --light: #FBFADA;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.main-bg {
    background-image: linear-gradient(to top, var(--primary) 0%, rgba(67, 104, 80, 0.5) 100%), url("../images/Header\ BG\ 2.jpg");
    background-size: cover;
    background-position: center;
}

.venue-bg {
    background-image: linear-gradient(to top, var(--primary) 0%, rgba(67, 104, 80, 0.5) 100%), url("../images/Header\ BG.jpg");
    background-size: cover;
    background-position-y: 69%;
    height: 300px;
}

.schedule-bg {
    background-image: linear-gradient(to top, var(--primary) 0%, rgba(67, 104, 80, 0.5) 100%), url("../images/Header\ BG\ 3.jpg");
    background-size: cover;
    background-position-y: 40%;
    height: 300px;
}

.fs-7 {
    font-size: .85rem;
}