:root {
    --primary: #4F6F52;
    --secondary: #E8DFCA;
    --light: #F5EFE6;
    --dark: #1A4D2E;
};

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: 0;
};